//===================================
//=        SASS Placeholders        =
//==========================-========

%container {
  max-width: $max-width;
  padding: {
    right: $gutter;
    left: $gutter;
  };
  margin: {
    left: auto;
    right: auto;
  };
}

%row {
  position: relative;
  margin: {
    left: -($gutter);
    right: -($gutter);
  };

  @if $enable-flex-box == true {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

%columns {
  padding: {
    right: ($gutter/2);
    left: ($gutter/2);
  };

  @if $enable-flex-box == true {
    max-width: 100%;
    flex: 0 0 auto;
    flex-basis: 100%;
  } @else {
    width: 100%;
    float: left;
  }
}

@for $i from 1 through $grid-columns {
  %column-#{$i} {
    @extend %columns;
  }
}
