
$enable-flex-box: true !default;
@import "gridfy";

.row {
  @extend %row;
}

@for $i from 1 through $grid-columns {
  .c-s-#{$i},
  .c-m-#{$i},
  .c-l-#{$i},
  .c-xl-#{$i} {
    @extend %column-#{$i};
  }
}

@include columns('s');

@include media($medium-screen) {
  @include columns('m');
}

@include media($large-screen) {
  @include columns('l');
}

@include media($xlarge-screen) {
  @include columns('xl');
}