/*
 *
 * */
.container {
  max-width: 1024px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fefefe;
  color: #4e4e4e;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center; }

h1, h2 {
  font-weight: 300; }

a {
  text-decoration: none;
  color: #ae995a;
  border-top: 2px solid transparent;
  transition: border-color .3s ease-in; }
  a.is-active, a:hover, a:focus {
    border-color: #ae995a; }

p {
  font-size: 1.5rem; }

header {
  overflow: hidden;
  padding: 1.2em 0 2em; }
  header h1 {
    -moz-animation-name: down;
    -webkit-animation-name: down;
    animation-name: down;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -moz-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s; }
    header h1 small {
      color: #aaa;
      font-size: 55%; }
  header p {
    color: #a9a9a9;
    -moz-animation-name: fade;
    -webkit-animation-name: fade;
    animation-name: fade;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }

nav {
  display: block;
  margin-bottom: 30px;
  -moz-animation-name: up;
  -webkit-animation-name: up;
  animation-name: up;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s; }
  nav a {
    margin: 0 10px; }

header h1,
header p,
header nav,
footer > div {
  position: relative;
  overflow: hidden;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.demo {
  position: relative;
  overflow: hidden; }
  .demo span {
    width: 100%;
    height: 50px;
    font-weight: 500;
    display: block;
    padding: 5px 0;
    margin-bottom: 15px;
    background-color: #ae995a;
    text-align: center;
    color: #fff; }

footer {
  overflow: hidden;
  clear: both;
  padding: .8em 0; }
  footer > div {
    -moz-animation-name: up;
    -webkit-animation-name: up;
    animation-name: up;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s; }
  footer p {
    color: #ababab; }
  footer small {
    font-size: 60%; }

@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes down {
  from {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes down {
  from {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes up {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes up {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
