/*
 *
 * */
.row {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-s-1,
.c-m-1,
.c-l-1,
.c-xl-1, .c-s-2,
.c-m-2,
.c-l-2,
.c-xl-2, .c-s-3,
.c-m-3,
.c-l-3,
.c-xl-3, .c-s-4,
.c-m-4,
.c-l-4,
.c-xl-4, .c-s-5,
.c-m-5,
.c-l-5,
.c-xl-5, .c-s-6,
.c-m-6,
.c-l-6,
.c-xl-6, .c-s-7,
.c-m-7,
.c-l-7,
.c-xl-7, .c-s-8,
.c-m-8,
.c-l-8,
.c-xl-8, .c-s-9,
.c-m-9,
.c-l-9,
.c-xl-9, .c-s-10,
.c-m-10,
.c-l-10,
.c-xl-10, .c-s-11,
.c-m-11,
.c-l-11,
.c-xl-11, .c-s-12,
.c-m-12,
.c-l-12,
.c-xl-12 {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
  flex: 0 0 auto;
  flex-basis: 100%;
}

.c-s-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.c-s-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.c-s-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.c-s-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.c-s-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.c-s-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.c-s-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.c-s-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.c-s-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.c-s-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.c-s-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.c-s-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .c-m-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .c-m-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .c-m-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .c-m-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .c-m-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .c-m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .c-m-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .c-m-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .c-m-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .c-m-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .c-m-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .c-m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1224px) {
  .c-l-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .c-l-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .c-l-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .c-l-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .c-l-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .c-l-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .c-l-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .c-l-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .c-l-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .c-l-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .c-l-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .c-l-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1824px) {
  .c-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .c-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .c-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .c-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .c-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .c-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .c-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .c-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .c-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .c-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .c-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .c-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
